<% @user ||= current_user %>
<div class="stats">
  <label class="label-auto">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    <strong>
      <%= link_to t("shared.stat.following"), user_following_index_path(@user) %>
    </strong>
  </label class="label-auto">
  <label class="label-auto">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    <strong>
      <%= link_to t("shared.stat.followers"), user_followers_path(@user) %>
    </strong>
  </label>
</div>
